* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  background-color: #f2f2f2;
  color: #2b292d;
}

.page {
  width: 1400px;
  margin: auto;
}

.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: flex;
  align-items: center;
}
.header__button {
  height: 48px;
  width: 160px;
  background-color: #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  padding: 17px 28px 18px 28px;
  margin-left: 75px;
}

.navigation {
  width: 273px;
}
.navigation-block {
  display: flex;
  margin-left: auto;
  margin-top: 7px;
}
.navigation__item {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #2b292d;
  margin-right: 43px;
}
.navigation__item:nth-last-child(1) {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  margin-top: 12px;
  margin-right: 56px;
  margin-left: 11px;
}

.logo {
  display: flex;
  margin-left: 15px;
}
.logo__image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.logo__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #000;
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  opacity: 0.6;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section {
  background-color: #f3c6bd;
  padding-top: 39px;
  height: 710px;
}

.headline {
  position: relative;
  width: 1140px;
  height: 533px;
  margin: 76px 0 0 126px;
}
.headline__block-image {
  position: relative;
}
.headline__image {
  position: absolute;
  right: -105px;
  z-index: 1;
}
.headline__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -0.5px;
  height: 165px;
  width: 754px;
  margin: 0 0 0 0;
  position: relative;
  z-index: 2;
}
.headline__description {
  height: 102px;
  width: 456px;
  font-size: 24px;
  line-height: 34px;
  margin: 34px 0 0 0;
}
.headline__buttons {
  display: flex;
  margin: 58px 0 0 0;
}
.headline__button-blue {
  background-color: #3040c4;
  height: 48px;
  width: 160px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  padding: 17px 28px 18px 28px;
}
.headline__button-white {
  height: 48px;
  width: 158px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #3040c4;
  padding: 17px 29px 18px 28px;
  margin-left: 10px;
  background-color: #fff;
}

.audience {
  width: 1400px;
  height: 983px;
  background-color: rgba(0, 161, 198, 0.0705882353);
  margin: auto;
}
.audience__container {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.audience__little-title {
  width: 168px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin: 108px 616px 0;
}
.audience__title {
  width: 555px;
  margin: 24px 423px 0 422px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.5px;
}
.audience__description {
  width: 555px;
  margin: 30px 423px 0 422px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
.audience__buttons {
  margin: 34px 0 0 0;
  display: flex;
  justify-content: center;
}
.audience__button-blue {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: 0;
  border-radius: 2px;
  padding: 0;
}
.audience__button-white {
  width: 158px;
  height: 48px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  border-radius: 2px;
  margin-left: 10px;
  padding: 0;
}

.categories {
  display: flex;
  margin: auto;
  margin-top: 111px;
  margin-bottom: 110px;
  width: 1139px;
  justify-content: space-between;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 262px;
  height: 300px;
  background-color: #fff;
  border-radius: 8px;
}
.user-card-img {
  margin-top: 22px;
}
.user-card-title {
  width: 212px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
.user-card:hover {
  cursor: pointer;
  background-color: #3141c5;
}
.user-card:hover .user-card-title {
  color: #fff;
}

.order {
  width: 1400px;
  margin: auto;
  background-color: #f4f5f7;
  height: 441px;
  display: flex;
}
.order-img {
  margin: 73px 0 72px 224px;
}
.order-title {
  width: 555px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  margin: 106px 0 0 122px;
}
.order-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  width: 555px;
  margin: 12px 0 0 121px;
}
.order-input {
  width: 385px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  margin: 26px 0 0 123px;
  font-size: 18px;
  color: #2b292d;
  line-height: 13px;
  padding: 17px 0 18px 15px;
}
.order-button {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  margin: 10px 0 0 122px;
}
.order__terms_underlined {
  color: #3142c6;
  border-bottom: 1px solid #3142c6;
}

.footer {
  width: 1400px;
  height: 389px;
  margin: auto;
  background-color: #fff;
}
.footer-linear {
  width: 1400px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1019607843);
  margin-top: 47px;
}
.footer__terms-social {
  display: flex;
}
.footer__terms {
  display: flex;
  width: 180px;
  margin-left: 130px;
  margin-top: 13px;
}
.footer__terms-item {
  margin: 0;
  margin-right: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.footer__terms-item:nth-last-child(1) {
  margin-right: 0;
}
.footer__description {
  width: 360px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}
.footer__logo {
  margin-top: 43px;
  margin-left: 130px;
}
.footer__logo-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.footer__logo-description {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.6;
}
.footer__logo-mob {
  margin-left: 130px;
}
.footer-first-block {
  display: flex;
}
.footer__description {
  margin: 26px 0 25px 129px;
}
.footer__product {
  margin-left: 126px;
}
.footer__product-title {
  width: 265px;
}
.footer__product-second {
  margin: 0 0 0 29px;
}
.footer__product-items {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-top: 9px;
  color: rgba(43, 41, 45, 0.6);
}
.footer__product-title {
  width: 212px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-top: 60px;
}
.footer__product-item {
  width: 265px;
  height: 185px;
}

.additional-navigation {
  display: flex;
}

.social-links {
  margin: 17px 0 0 861px;
}

.social-item {
  margin-right: 20px;
}
.social-item:nth-last-child(1) {
  margin-right: 0;
}

/*# sourceMappingURL=styles.css.map */
