* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  background-color: #f2f2f2;
  color: #2b292d;
}

.page {
  width: 1400px;
  margin: auto;
  background-color: #f3c6bd;
}

.header {
  display: flex;
  margin: auto;
  width: 1140px;
}
.header__button {
  background-color: #3040c4;
  height: 48px;
  width: 160px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #fff;
  margin-top: 39px;
}

.logo {
  display: flex;
}
.logo-img {
  width: 60px;
  height: 60px;
  margin-top: 41px;
  margin-right: 15px;
}
.logo__text {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.logo__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.logo__descriprion {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.6;
}

.navigation {
  margin-left: auto;
  margin-top: 46px;
}
.navigation-list {
  margin-right: 50px;
  font-size: 18px;
  text-decoration: none;
  line-height: 25px;
  color: #2b292d;
}
.navigation-list_selected {
  font-weight: 700;
}
.navigation-list-last {
  margin-right: 11px;
}
.navigation-list-arrow {
  width: 5px;
  width: 8px;
}

.headline {
  display: flex;
  width: 1140px;
  margin: auto;
}
.headline__title {
  margin: 0;
  margin-top: 76px;
  margin-bottom: 34px;
  width: 754px;
  font-weight: 700;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -0.5px;
  color: #2b292d;
  z-index: 5;
}
.headline__description {
  margin: 0;
  width: 456px;
  font-size: 24px;
  line-height: 34px;
}

.get-started {
  background-color: #3040c4;
  height: 48px;
  width: 160px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #fff;
  margin-top: 58px;
}

.learn-more {
  background-color: #fff;
  height: 48px;
  width: 158px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #3040c4;
  margin-top: 58px;
  margin-left: 10px;
}

.headline-container {
  z-index: 5;
}

.img-ouch {
  margin-top: 84px;
  margin-left: -305px;
  z-index: 1;
  padding-bottom: 77px;
}

.about {
  width: 1400px;
  margin: auto;
  height: 255px;
  background-color: #f4f5f7;
  display: flex;
}
.about__contante {
  margin: auto;
  display: flex;
  margin-top: 77px;
}
.about__what {
  width: 555px;
  margin-bottom: 76px;
}
.about__who {
  margin-left: 29px;
  margin-bottom: 76px;
  width: 555px;
}
.about__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin-top: 0;
}
.about__description {
  font-size: 22px;
  line-height: 32px;
}

.customers {
  width: 1400px;
  background-color: #fff;
  margin: auto;
}
.customers__container {
  background-color: #fff;
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 106px;
}
.customers__items {
  filter: brightness(0);
}

.features {
  width: 1400px;
  margin: auto;
  background-color: #fff;
  padding-top: 1px;
  display: flex;
}
.features__img-ouch {
  position: absolute;
  height: 166px;
  margin-top: 258px;
}
.features__img-screen {
  position: absolute;
  margin-left: 698px;
}
.features__container {
  width: 1140px;
  margin: auto;
  background-color: #fff;
}
.features__min-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.features__title {
  width: 462px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2b292d;
  margin: 24px 0px 30px 0px;
}
.features__description {
  width: 461px;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0px 0px 42px 0px;
}
.features__container-second-title {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.features__line {
  width: 457px;
  border-bottom: 3px solid #3142c6;
}

.compas-text {
  margin: 0px 0px 0px 15px;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
}

.compas-description {
  width: 459px;
  font-size: 18px;
  line-height: 26px;
  color: #2b292d;
}

.features__item {
  display: flex;
  align-items: center;
}
.features__item-line {
  width: 457px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
}
.features__item-line_last {
  margin-bottom: 110px;
}
.features__item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #2b292d;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 22px;
}
.inbox {
  width: 1400px;
  margin: auto;
  background-color: #fcf0e3;
  height: 790px;
}
.inbox__container {
  width: 1140px;
  margin: auto;
  display: flex;
}
.inbox__container-content-block-litle-text {
  margin-left: 192px;
  margin-top: 115px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
}
.inbox__container-content-block-title {
  width: 462px;
  margin: 24px 0px 0px 190px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2b292d;
}
.inbox__container-content-block-description {
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 30px 0px 0px 192px;
}
.inbox__container-image-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inbox__container-image-block-picture {
  margin-top: 142px;
}
.inbox__container-image-block-picture-description {
  font-size: 14px;
  line-height: 22px;
  width: 283px;
}
.inbox__container-content-second-section {
  background-color: #fff;
  height: 213px;
  width: 519px;
  border-bottom: 4px solid #0185D0;
  margin: 104px 0px 0px 164px;
}
.inbox__container-content-second-section-text {
  width: 459px;
  font-size: 20px;
  line-height: 28px;
  margin: 30px 30px 28px 30px;
  display: inline-block;
}
.inbox__container-content-second-section-user {
  display: flex;
  align-items: center;
}
.inbox__container-content-second-section-user-img {
  margin-left: 29px;
}
.inbox__container-content-second-section-user-text {
  margin-left: 11px;
}
.inbox__container-content-second-section-user-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #2b292d;
}
.inbox__container-content-second-section-user-description {
  font-size: 16px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  opacity: 0.6;
}

.communication {
  display: flex;
  width: 1400px;
  margin: auto;
  background-color: #fff;
}
.communication-container {
  width: 1140px;
  margin: auto;
}
.communication-container-first {
  display: flex;
}
.communication__little-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
  margin: 123px 0px 0px 0px;
}
.communication__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2b292d;
  width: 462px;
  margin: 24px 0px 0px 0px;
}
.communication__title-description {
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  width: 461px;
  margin: 30px 0px 0px 0px;
}
.communication__img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.communication__img-content-image {
  margin: 110px 0px 0px 193px;
}
.communication__img-content-description {
  color: rgba(43, 41, 45, 0.6);
  opacity: 0.6;
  font-size: 14px;
  line-height: 22px;
  margin: 15px 0px 0px 193px;
}
.communication__button-line {
  margin-top: 87px;
  width: 150px;
  border-bottom: 1px solid #000;
  opacity: 0.1;
}
.communication__item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 110px;
}
.communication__items {
  width: 360px;
  height: 115px;
  font-size: 18px;
  line-height: 26px;
}
.communication__items-title {
  font-weight: 700;
}
.communication__items-description {
  color: #3142C6;
  font-weight: 700;
  border-bottom: 1px solid #3142C6;
}

.audience {
  width: 1400px;
  background-color: rgba(0, 161, 198, 0.0705882353);
  margin: auto;
}
.audience__container {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.audience__little-title {
  width: 168px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin-top: 108px;
}
.audience__title {
  width: 555px;
  margin-top: 24px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.5px;
}
.audience__description {
  width: 555px;
  margin-top: 30px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
.audience__buttons {
  margin-top: 34px;
}
.audience__button-blue {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  border-radius: 2px;
}
.audience__button-white {
  width: 158px;
  height: 48px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  border-radius: 2px;
}

.categories {
  display: flex;
  margin: auto;
  margin-top: 111px;
  margin-bottom: 110px;
  width: 1139px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 262px;
  height: 300px;
  background-color: #fff;
  margin-right: 30px;
  border-radius: 8px;
}
.user-card-img {
  margin-top: 22px;
}
.user-card-title {
  width: 212px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
.user-card:hover {
  cursor: pointer;
  background-color: #3141c5;
}
.user-card:hover .user-card-title {
  color: #fff;
}

.feedback {
  width: 1400px;
  margin: auto;
  background-color: #fff;
  height: 355px;
}
.feedback__container {
  width: 1140px;
  margin: auto;
}
.feedback__title {
  width: 1140px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3142c6;
}
.feedback__description {
  width: 750px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 28px auto 0;
}
.feedback__person {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__person-name {
  margin-top: 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.feedback__person-description {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}
.feedback__img {
  position: absolute;
  width: 273px;
  height: 243px;
  margin-top: 112px;
  margin-left: 1084px;
}
.feedback__dots {
  display: flex;
  margin: auto;
  justify-content: center;
  margin: 38px 0 9px 0;
}
.feedback__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2B292D;
  margin-right: 13px;
}
.feedback__dot_active {
  background-color: #3142C5;
}
.feedback__line {
  width: 1400px;
  margin-top: 66px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.hiring {
  display: flex;
  width: 1400px;
  margin: auto;
  background-color: #fff;
}
.hiring__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 750px;
  margin: auto;
}
.hiring__title {
  width: 555px;
  margin: 106px auto 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.5px;
}
.hiring__description {
  width: 555px;
  margin: 20px auto 0;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
.hiring__button-blue {
  width: 247px;
  height: 48px;
  margin: 28px auto 0;
  background-color: #3040c4;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
}

.vacancy {
  display: flex;
  width: 750px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
  margin-bottom: 20px;
}
.vacancy__jobs-name {
  font-weight: 700;
  width: 408px;
  margin: 26px 0 26px 25px;
  font-size: 22px;
  line-height: 28px;
}
.vacancy__city-name {
  font-size: 18px;
  margin: 28px 0px 27px 20px;
  margin-left: 20px;
  width: 232px;
  line-height: 24px;
  opacity: 0.6;
}
.vacancy__arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
  background-repeat: no-repeat;
  width: 7px;
  margin: 35px;
  margin-left: 33px;
  height: 15px;
  margin-top: 35px;
}
.vacancy:hover {
  background-color: #3141C5;
}
.vacancy:hover .vacancy__jobs-name {
  color: #fff;
}
.vacancy:hover .vacancy__city-name {
  color: #fff;
  opacity: 1;
}
.vacancy:hover .vacancy__arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png);
}

.hiring__jobs {
  margin-top: 110px;
  margin-bottom: 90px;
}

.order {
  width: 1400px;
  margin: auto;
  background-color: #f4f5f7;
  height: 441px;
  display: flex;
}
.order-img {
  margin: 73px 0 72px 224px;
}
.order-title {
  width: 555px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  margin: 106px 0 0 122px;
}
.order-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  width: 555px;
  margin: 12px 0 0 121px;
}
.order-input {
  width: 385px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  margin: 26px 0 0 123px;
  font-size: 18px;
  color: #2b292d;
  line-height: 13px;
  padding: 17px 0 18px 15px;
}
.order-button {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  margin: 10px 0 0 122px;
}
.order__terms_underlined {
  color: #3142c6;
  border-bottom: 1px solid #3142c6;
}

.footer {
  width: 1400px;
  height: 389px;
  margin: auto;
  background-color: #fff;
}
.footer__description {
  width: 360px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}
.footer__logo-mob {
  margin-left: 130px;
}
.footer-first-block {
  display: flex;
}
.footer__description {
  margin: 26px 0 25px 129px;
}
.footer__product {
  margin-left: 126px;
}
.footer__product-title {
  width: 265px;
}
.footer__product-second {
  margin: 0 0 0 29px;
}
.footer__product-items {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-top: 9px;
  color: rgba(43, 41, 45, 0.6);
}
.footer__product-title {
  width: 212px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-top: 60px;
}

.logo {
  margin: 4px 0 0 130px;
}

.additional-navigation {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
