.about {
  width: 1400px;
  margin: auto;
  height: 255px;
  background-color: #f4f5f7;
  display: flex;
  &__contante {
    margin: auto;
    display: flex;
    margin-top: 77px;
  
  }
  &__what {
    width: 555px;
    margin-bottom: 76px;
  }
  &__who {
    margin-left: 29px;
    margin-bottom: 76px;
    width: 555px;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin-top: 0;
  }
  &__description {
    font-size: 22px;
    line-height: 32px;
  }
}