.audience {
  width: 100vw;
  height: 1808px;
  background-color: #00a1c612;
  margin: auto;
  &__container {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__little-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    width: 290px;
    margin: 50px 15px 0 15px;
  }
  &__title {
    width: 290px;
    margin: 17px 15px 0 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
  }
  &__description {
    width: 290px;
    margin: 18px 15px 0 15px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }
  &__buttons {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button-blue {
    background-color: #3040c4;
    height: 48px;
    width: 290px;
    border-radius: 2px;
    border: none;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    line-height: 13px;
    color: #ffffff;
    padding: 17px 93px 18px 93px;
  }
  &__button-white {
    height: 48px;
    width: 290px;
    border-radius: 2px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #000;
    padding: 17px 94px 18px 95px;
    margin: 12px 15px 0 15px;
    background-color: #fff;
  }
}
.categories {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 290px;
  justify-content: space-between;
}
.user-card {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: center;
  width: 290px;
  height: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
  &-img {
    margin-top: 22px;
  }
  &-title {
    width: 250px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin: 22px 20px 33px 20px;
  }
  &:hover {
    cursor: pointer;
    background-color: #3141c5;
    .user-card-title {
      color: #fff;
    }
  }
}
@media screen and (min-width: 620px) {
  .audience {
    width: 1400px;
    height: 983px;
    background-color: #00a1c612;
    margin: auto;
    &__container {
      width: 1140px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__little-title {
      width: 168px;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      margin: 108px 616px 0 616px;
    }
    &__title {
      width: 555px;
      margin: 24px 423px 0 422px;
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -0.5px;
    }
    &__description {
      width: 555px;
      margin: 30px 423px 0 422px;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
    }
    &__buttons {
      margin: 34px 0 0 0;
      display: block;
      justify-content: center;
    }
    &__button-blue {
      width: 160px;
      height: 48px;
      background-color: #3040c4;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      line-height: 13px;
      border: 0;
      border-radius: 2px;
      padding: 0;
    }
    &__button-white {
      width: 158px;
      height: 48px;
      background-color: #fff;
      color: #000;
      font-weight: 700;
      font-size: 18px;
      line-height: 13px;
      border: none;
      border-radius: 2px;
      margin-left: 10px;
      padding: 0;
    }
  }
  .categories {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 111px;
    margin-bottom: 110px;
    width: 1139px;
    justify-content: space-between;
  }
  .user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 262px;
    height: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    &-img {
      margin-top: 22px;
    }
    &-title {
      width: 212px;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      margin: 22px 25px 33px 25px;
    }
    &:hover {
      cursor: pointer;
      background-color: #3141c5;
      .user-card-title {
        color: #fff;
      }
    }
  }
}
