.customers{
   width: 1400px;
   background-color: #fff;
   margin: auto;
   &__container{
   background-color: #fff;
   width: 1140px;
   margin: auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-top: 30px;
   padding-bottom: 106px;
   }  
   &__items{
      filter: brightness(0);
   }
}
