.feedback {
  width: 1400px;
  margin: auto;
  background-color: #fff;
  height: 355px;
  &__container {
    width: 1140px;
    margin: auto;
  }
  &__title {
    width: 1140px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3142c6;
  }
  &__description {
    width: 750px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 28px auto 0;
  }
  &__person{
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  &__person-name {
    margin-top: 34px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  &__person-description {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
  }
  &__img{
   position: absolute;
   width: 273px;
   height: 243px;
   margin-top: 112px;
   margin-left: 1084px;
  }
  &__dots{
   display: flex;
   margin: auto;
   justify-content: center;
   margin: 38px 0 9px 0;
  }
  &__dot{
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: #2B292D;
   margin-right: 13px;
   &_active{
    background-color: #3142C5;
   }
  }
  &__line{
   width: 1400px;
   margin-top: 66px;
   border-bottom: 1px solid #0000001A;
  }
}
