.footer {
  width: 1400px;
  height: 389px;
  margin: auto;
  background-color: #fff;
  &-linear {
    width: 1400px;
    border-bottom: 1px solid #2b292d1a;
    margin-top: 47px;
  }
  &__terms-social {
    display: flex;
  }
  &__terms {
    display: flex;
    width: 180px;
    margin-left: 130px;
    margin-top: 13px;
    &-item {
      margin: 0;
      margin-right: 9px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: rgba(43, 41, 45, 0.6);
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
  &__description {
    width: 360px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
  }
  &__logo {
    margin-left: 130px;
  }
  &__logo-mob {
    margin-left: 130px;
  }
  &-first-block {
    display: flex;
  }
  &__description {
    margin: 26px 0 25px 129px;
  }
  &__product {
    margin-left: 126px;
    &-title {
      width: 265px;
    }
    &-second {
      margin: 0 0 0 29px;
    }
    &-items {
      font-size: 18px;
      line-height: 30px;
      margin: 0;
      margin-top: 9px;
      color: rgba(43, 41, 45, 0.6);
    }
  }
  &__product-title {
    width: 212px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-top: 60px;
  }
  &__product-item {
    width: 265px;
    height: 185px;
  }
}
.additional-navigation {
  display: flex;
}

.social-links{
  margin: 17px 0 0 861px;
}
.social-item{
  margin-right: 20px;
  &:nth-last-child(1){
    margin-right: 0;
  }
}