.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: flex;
  align-items: center;

  &__button {
    height: 48px;
    width: 160px;
    background-color: #3040c4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #ffffff;
    padding: 17px 28px 18px 28px;
  }
}
.navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-right: 56px;
  &__item {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #2b292d;
    margin-right: 50px;
    &:nth-last-child(2) {
      margin-right: 0;
    }
    &_selected {
      font-weight: 700;
    }
  }
  &__arrow {
    display: inline-block;
    height: 5px;
    width: 8px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png');
    margin-left: 11px;
    margin-top: 19px;
  }
}
.logo {
  display: flex;
  &__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-top: 2px;
  }
  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000;
  }
  &__description {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6px;
  }
}
.top-section {
  background-color: #f3c6bd;
  padding-top: 39px;
}
