.headline {
  position: relative;
  width: 1249px;
  height: 456px;
  margin: 76px 0 0 126px;
  &__image{
   position: absolute;
   right: 0;
   z-index: 1;
   margin-top: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    height: 165px;
    width: 754px;
    margin: 0;
    position: relative;
    z-index: 2;
  }
  &__description{
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    margin: 34px 0 0 4px;
  }
  &__buttons{
   margin: 58px 0 0 4px;
  }
  &__button-blue {
    background-color: #3040c4;
    height: 48px;
    width: 160px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #ffffff;
    padding: 0;
  }
  &__button-white {
    height: 48px;
    width: 158px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #3040c4;
    padding: 0;
    margin-left: 10px;
  }
}
