.hiring {
  display: flex;
  width: 1400px;
  margin: auto;
  background-color: #fff;
  &__container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 750px;
    margin: auto;
  }
  &__title {
    width: 555px;
    margin: 106px auto 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
  }
  &__description {
    width: 555px;
    margin: 20px auto 0;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }
  &__button-blue {
    width: 247px;
    height: 48px;
    margin: 28px auto 0;
    background-color: #3040c4;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #ffffff;
  }
}
.vacancy {
  display: flex;
  width: 750px;
  border: 1px solid #2b292d33;
  border-radius: 8px;
  margin-bottom: 20px;
  
  &__jobs-name {
    font-weight: 700;
    width: 408px;
    margin: 26px 0 26px 25px;
    font-size: 22px;
    line-height: 28px;
  }
  &__city-name {
    font-size: 18px;
    margin: 28px 0px 27px 20px;
    margin-left: 20px;
    width: 232px;
    line-height: 24px;
    opacity: 0.6;
  }
  &__arrow {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
    background-repeat: no-repeat;
    width: 7px;
    margin: 35px;
    margin-left: 33px;
    height: 15px;
    margin-top: 35px;
  }
  &:hover{
   background-color: #3141C5;
   .vacancy__jobs-name{
      color: #fff;
   }
   .vacancy__city-name{
      color: #fff;
      opacity: 1;
   }
   .vacancy__arrow{
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png);
   }
  }
}
.hiring__jobs {
  margin-top: 110px;
  margin-bottom: 90px;
}
