* {
  box-sizing: border-box;
}
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'footer.scss';
@import 'inbox.scss';

html {
  font-family: 'Work Sans', sans-serif;
  background-color: #F2F2F2;;
}

.page {
  width: 1400px;
  margin: auto;
  background-color: #f3c6bd;
}



