* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  background-color: #f2f2f2;
  color: #2b292d;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.page {
  width: 100vw;
  margin: auto;
  
}
@media screen and (min-width: 620px) {
  .page {
    width: 1400px;
    margin: auto;
  }
}
@import 'header.scss';
@import 'headline.scss';
@import 'audience.scss';
@import 'order.scss';
@import 'footer.scss';
